{% extends 'base.html.twig' %}

{% block title %}Day index{% endblock %}

{% block body %}
    <h1>Day index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Open</th>
                <th>Internet</th>
                <th>Firmware</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for day in days %}
            <tr>
                <td>{{ day.id }}</td>
                <td>{{ day.fecha ? day.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ day.open ? 'Yes' : 'No' }}</td>
                <td>{{ day.internet }}</td>
                <td>{{ day.firmware }}</td>
                <td>
                    <a href="{{ path('day_show', {'id': day.id}) }}">show</a>
                    <a href="{{ path('day_edit', {'id': day.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('day_new') }}">Create new</a>
{% endblock %}
