{% extends 'base.html.twig' %}

{% block title %}OtrosGastos{% endblock %}

{% block body %}
    <h1>OtrosGastos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ otros_gasto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ otros_gasto.nombre }}</td>
            </tr>
            <tr>
                <th>Costo</th>
                <td>{{ otros_gasto.costo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ otros_gasto.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ventasmodule') }}">Módulo de ventas</a>

    <a href="{{ path('otros_gastos_edit', {'id': otros_gasto.id}) }}">edit</a>

    {{ include('otros_gastos/_delete_form.html.twig') }}
{% endblock %}
