{% extends 'base.html.twig' %}

{% block title %}New PiezaAPagar{% endblock %}

{% block body %}
    <h1>Agregar pieza a pagar</h1>
    {{ form_start(form) }}

    <table>
        <tr>
            <td>{{ form_label(form.nombre) }}</td>
            <td>{{ form_widget(form.nombre) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.precio) }}</td>
            <td>{{ form_widget(form.precio) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.descripcion) }}</td>
            <td>{{ form_widget(form.descripcion) }}</td>
        </tr>
    </table>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('ventasmodule') }}">Volver al día</a>
{% endblock %}
